.disp{
background-color: azure;
height: 50px;
width: 60vh;
position: relative;
bottom: 20px;

}
.cal{
background-color: chartreuse;
height: 40vh;
width: 60vh;

display: grid;
grid-template-columns: repeat(3,4fr);
}
button{
    background-color: aqua;
    color: darkblue;
    border-radius: 5px;
    clip-path: circle(50%);
}
.RES{
    background-color: aqua;
    color: crimson;
    padding: -40px;
}